%tr{:id => "user_#{user.id}"}
  %td= user.updated_at.strftime("%d %b %Y - %H:%M")
  %td= user.name
  %td= user.email
  %td= user.title
  %td= user.phone
  %td{:class => "status_#{user.status}"}= user.status ? 'active' : 'inactive'
  %td
    = link_to "Edit", edit_user_path(user), remote: true, class: "btn btn-success btn-sm"
  %td
    = link_to "Delete", user_path(user), { method: :delete, data: { confirm: 'Confirm delete' }, class: "btn btn-danger btn-sm" }
