%table.table.table-striped
  %thead
    %tr
      %th= sortable "updated_at", "Last Updated", params[:query]
      %th= sortable "name", "Name", params[:query]
      %th= sortable "email", "Email", params[:query]
      %th= sortable "title", "Title", params[:query]
      %th= sortable "phone", "Phone", params[:query]
      %th= sortable "status", "Status", params[:query]
      %th{:colspan => "2"}
  %tbody#users
    = render @users
#paginationing
  = will_paginate @users
