<h1>Users</h1>
<%= link_to 'Add New User', new_user_path, remote: true %>
<table>
  <thead>
    <tr>
      <th>Last Updated</th>
      <th>Name</th>
      <th>Email</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.created_at %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
        <td><%= user.phone %></td>
        <td><%= user.status ? 'active' : 'inactive' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), remote: true %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Confirm delete' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

